<div
  id="full-cover-background"
  class="flex h-full bg-gray-100 items-center justify-center"
>
  <div id="centered-block" class="bg-white p-6 rounded-xl shadow-md">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="text-center">Connexion</h2>
      <div id="email-container">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <!-- formControlName = 1er parametre de loginForm -->
          <input
            matInput
            formControlName="username"
            type="email"
            placeholder="Email"
          />
        </mat-form-field>
      </div>
      <div id="password-container">
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            placeholder="Mot de passe"
          />
        </mat-form-field>
      </div>
      <div id="button-container" class="flex flex-col gap-2">
        <button mat-flat-button type="submit" class="w-full">
          Se connecter
        </button>

        <button
          mat-flat-button
          type="button"
          class="w-full"
          routerLink="/signup"
        >
          S'enregistrer
        </button>

        <p *ngIf="errorMessage">{{ errorMessage }}</p>
      </div>
    </form>
  </div>
</div>
